.post{
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ededed;
  margin: 0 0 20px;
}

.post img{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.post__text{
  padding: 20px;
}

.post h2{
  margin: 0 0 10px;
}

.post p{
  margin: 0;
}

@media only screen and (min-width: 960px){
  .post{
    width: calc(50% - 22px);
    margin: 0 20px 20px 0;
  }
}
