.add-post{
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 5px solid #eaeaea;
  margin: 0 0 40px;
}

.add-post label{
  font-weight: 700;
}

.add-post div{
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
}

.add-post div input{
  padding: 15px 15px;
  outline-color: #d9d9d9;
  margin: 5px 0 0;
  border: 1px solid #dcdbdb;
  border-radius: 2px;
  font-family: "Arial";
  transition: all .3s linear;
}

.add-post div textarea{
  padding: 15px 15px;
  outline-color: #d9d9d9;
  margin: 5px 0 0;
  border: 1px solid #dcdbdb;
  border-radius: 2px;
  font-family: "Arial";
}

.add-post div .input--error{
  border: 1px solid #d52323;
}

.add-post input[type="submit"]{
  background-color: #25c79f;
  color: white;
  padding: 11px;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  width: 120px;
  border-radius: 3px;
  margin: 0 0 0 auto;
  outline: none;
}
